body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #007bff, #6c757d);
    color: #ffffff;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 10px;
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100%;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}

input, select {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

select{
    width: 100%;
}

input:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

h1{
    margin: 0;
    padding: 20px;
}
h2 {
    font-size: 24px;
    margin: 0;
}

select {
    cursor: pointer;
}